<div class="header">
    <div class="header__logo">
        <span class="header__title">Todo-App</span>
    </div>
    <nav class="header__navbar">
        <a href="" class="header__link">Groups</a>
    </nav>
    <div class="header__log">
        <a href="" class="header__link">Register</a>
        <a href="" class="header__link">Login</a>
    </div>
</div>